---
import Close from "../icons/Close.astro";
import Sun from "../icons/Sun.astro";
import Moon from "../icons/Moon.astro";
import Menu from "../icons/Menu.astro";

const Arraynav = [
    { name: "Inicio", href: "#" },
    { name: "Sobre mí", href: "#about" },
    { name: "Proyectos", href: "#projects" },
    {
        name: "Contáctame",
        href: "mailto:sergiohuamanch15@gmail.com",
        target: "_blank",
    },
];
---

<header
    id="myHeader"
    class="flex justify-between bg-transparent items-center px-8 py-2 z-[998] transition-colors ease-in duration-300"
>
    <div>
        <h1>
            Waynas <span class="text-secondary2 dark:text-secondary2Dark"
                >.</span
            >
        </h1>
    </div>
    <div class="flex justify-center items-center gap-8">
        <ul class="hidden lg:flex justify-center items-center gap-4">
            {
                Arraynav.map((av) => (
                    <li>
                        <a
                            href={av.href}
                            target={av.target || ""}
                            class="hover:text-secondary2 dark:hover:text-secondary2Dark hover:font-bold"
                        >
                            {av.name}
                        </a>
                    </li>
                ))
            }
        </ul>
        <button id="darkModeToggle" class="transition-colors">
            <Moon />
            <Sun />
        </button>
        <button id="menu">
            <Menu />
        </button>
    </div>
</header>
<div
    id="sidebar"
    class="flex fixed top-0 -right-full transition-all ease-in-out duration-300 flex-col gap-12 w-full h-screen bg-primary dark:bg-primaryDark text-secondary dark:text-secondaryDark p-8 z-[999]"
>
    <div class="flex justify-end items-center">
        <button id="close">
            <Close />
        </button>
    </div>
    <nav
        class="flex flex-col justify-center bg-neutra items-center text-center"
    >
        <ul class="flex flex-col gap-12">
            {
                Arraynav.map((av) => (
                    <li>
                        <a
                            class="nav-selected-sidebar text-2xl"
                            href={av.href}
                            target={av.target || ""}
                        >
                            {av.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </nav>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const header = document.getElementById("myHeader");
        const darkModeToggle = document.getElementById("darkModeToggle");
        const menuButton = document.getElementById("menu");
        const sidebar = document.getElementById("sidebar");
        const closeSidebar = document.getElementById("close");
        const navSelected = document.getElementsByClassName(
            "nav-selected-sidebar",
        );

        if (darkModeToggle) {
            darkModeToggle.addEventListener("click", function () {
                document.body.classList.toggle("dark");
            });
        }

        if (header) {
            window.addEventListener("scroll", function () {
                const scrollPosition = window.scrollY;
                if (scrollPosition > 50) {
                    header.classList.remove("bg-transparent");
                    header.classList.add("bg-neutral-200");
                    header.classList.add("dark:bg-neutral-900");
                } else {
                    header.classList.add("bg-transparent");
                    header.classList.remove("bg-neutral-200");
                    header.classList.remove("dark:bg-neutral-900");
                }
            });
        }

        if (menuButton && sidebar) {
            menuButton.addEventListener("click", function () {
                sidebar.classList.toggle("-right-full");
                sidebar.classList.add("right-0");
                document.body.classList.add("overflow-y-hidden");
            });
        }

        if (closeSidebar && sidebar) {
            closeSidebar.addEventListener("click", function () {
                sidebar.classList.toggle("-right-full");
                sidebar.classList.remove("right-0");
                document.body.classList.remove("overflow-y-hidden");
            });
        }

        if (navSelected && sidebar) {
            for (let i = 0; i < navSelected.length; i++) {
                navSelected[i].addEventListener("click", function () {
                    sidebar.classList.toggle("-right-full");
                    sidebar.classList.remove("right-0");
                    document.body.classList.remove("overflow-y-hidden");
                });
            }
        }
    });
</script>
